{% extends 'reporte_regions_generic.html' %}

{% block resumen-nacional %}
<div style="position: relative; text-align: center;">
  <iframe style="width: 100%; max-width: 600px;" height="371" src="{{NACIONAL.uci_ocupado_url}}" frameborder="0"></iframe>
</div>
<div style="position: relative; text-align: center;">
  <iframe style="width: 100%; max-width: 600px;" height="371" src="{{NACIONAL.camas_ocupado_url}}" frameborder="0"></iframe>
</div>
{% endblock resumen-nacional %}

{% block region-detail %}
<div class='col-xl' style='text-align: center;'> 
  <iframe style="width: 100%; max-width: 600px;" height=371 src="${region.uci_ocupado_url}" frameborder="0"></iframe>
</div>
<div class='col-xl' style='text-align: center;'>
  <iframe style="width: 100%; max-width: 600px;" height=371 src="${region.camas_ocupado_url}" frameborder="0"></iframe>
</div>
{% endblock region-detail %}