{% extends 'reporte_regions_generic.html' %}

{% block resumen-nacional %}
<div class='col-xl' style='text-align: center;'> 
  <iframe style="width: 100%; min-width: 600px;" height=700 src="{{NACIONAL.oxigeno_url}}" frameborder="0"></iframe>
</div>
{% endblock resumen-nacional %}

{% block region-detail %}
<div class='col-xl' style='text-align: center;'> 
  <iframe style="width: 100%; min-width: 600px;" height=700 src="${region.oxigeno_url}" frameborder="0"></iframe>
</div>
{% endblock region-detail %}