{% extends 'base.html' %}
{% load cropping %}

{% block title %}Reporte: {{region.nombre}}{% endblock title %}

{% block head_css_page %}
<link href="{{ STATIC_URL }}reportes/css/reporte.css" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block og_title %}OpenCovid-Perú: {{region.nombre}}{% endblock og_title %}
{% block og_description%}Reporte: {{region.nombre}}{% endblock og_description %}
{% block og_type %}article{% endblock og_type %}

{% block content %}
<main role="main">
  <div class="jumbotron jumbotron-fluid">    
      <div class="container">
        <h1 class="display-4">{{region.nombre}}</h1>
      </div>  
  </div>
  <div class="container">
    <h2 class='pt-3'>Pruebas y Positividad</h2>
    <p>Análisis de las pruebas PCR y Rápidas, así como su positividad a nivel nacional y regional</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 407px;" height=355 src="{{region.posit_total_url}}" frameborder="0"></iframe>
     </div>
     <div class='col-xl' style='text-align: center;'>
      <iframe style="width: 100%; max-width: 407px;" height=355 src="{{region.posit_pm_url}}" frameborder="0"></iframe>
     </div>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 407px;" height=355 src="{{region.posit_pr_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>Capacidad Hospitalaria</h2>
    <p>Análisis Nacional y Regional de los indicadores hospitalizados, camas UCI, oxígeno abastecido, entre otros.</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 600px;" height=390 src="{{region.uci_ocupado_url}}" frameborder="0"></iframe>
      </div>
      <div class='col-xl' style='text-align: center;'>
        <iframe style="width: 100%; max-width: 600px;" height=390 src="{{region.camas_ocupado_url}}" frameborder="0"></iframe>
      </div>
    </div>
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 600px;" height=550 src="{{region.oxigeno_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>Desfase: MINSA, DIRESA y DIRIS</h2>
    <p>Discrepancias en cifras reportadas por MINSA con lo reportado por DIRIS Lima y regiones (DIRESA / GERESA)</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; max-width: 600px;" height=390 src="{{region.casos_url}}" frameborder="0"></iframe>
      </div>
      <div class='col-xl' style='text-align: center;'>
        <iframe style="width: 100%; max-width: 600px;" height=390 src="{{region.fallecidos_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>SINADEF</h2>
    <p>Defunciones registradas por SINADEF a nivel nacional y regional</p>
  </div>
  <div class="container-fluid">
    <div class='row'>
        <div class='col-xl' style='text-align: center;'> 
            <iframe style="width: 100%; min-width: 600px;" height=700 src="{{region.sinadef_url}}" frameborder="0"></iframe>
        </div>
    </div>
  </div>
  <div class="container">
    <h2 class='pt-3'>Movilidad Regional</h2>
    <p>La movilidad en respuesta a las políticas destinadas a combatir el COVID-19 (cuarentena, inmovilizaciones, etc.)</p>
  </div>
  <div class="container">
    <div class='row'>
      <div class='col-xl' style='text-align: center;'> 
        <iframe style="width: 100%; min-width: 600px;" height=380 src="{{region.mobility_url}}" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</main>
{% endblock content %}